{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="main">
    <div class="top-banner">
        <div class="container d-flex">
            <div class="banner-info">
                <h3 class="info_title">SmartMarket</h3>
                <p class="info_text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi vero optio cum, enim, nemo omnis voluptas expedita atque magni, error saepe eum aspernatur minima eaque at ad. Voluptate doloribus iusto, officia id facere labore autem ad quas fugiat praesentium accusamus delectus modi ratione rem laboriosam incidunt reprehenderit nam cupiditate ea. Quia, nesciunt mollitia, asperiores veniam ex ipsam iusto incidunt error tempore quasi voluptate laudantium repellat!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
